.cuerpo{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight:200;
    font-size: large;
    background-color: #353541;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    color: white;
}

.cabecera{
    background-color:#19a888;
    padding: 1%;  
    margin: 0%;
}

.navegacion{
    margin-top: 0%;
    display: inline-block; 
    font-size:large; 
    width: 60%;
    text-align: center;
}

li{
    display: inline;
    margin: 2%;
}

img{
    vertical-align: middle;
}

.menu{
    color: white;
    text-decoration: none; 
    font-weight:400;
}

.menu:hover{
    font-weight:800;
    text-decoration: none;  
    color: white;  
}

.enlace{
    color: white;
    text-decoration: none; 
}

.enlace:hover{  
    color: white;
}

footer{
    background-color:#202123;
    color:white;
    text-align: center;
    padding: 3%;
}

.negrita{
    font-weight:600;
}
